<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <connectionStrings>
    <add name="CM_Connection1" connectionString="Data Source=AKSYSTEMS\SQLEXPRESS;Initial Catalog=ecommerce;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  
  
  <add key="token" value="PW1BDVNqVPVanwduF_Tb2Ey91aT1Uhx1kL7HPc-7e8S-6AnUwSSHyasolSe"/>
    <add key="paypalemail" value="saman.ak94@gmail.com"/>

    <!--Here i used sandbox site url only if you hosted in live change sandbox to live paypal URL-->
    <add key="PayPalSubmitUrl" value="https://www.paypal.com/cgi-bin/webscr"/>

    <add key="FailedURL" value="success.aspx"/>
    <add key="SuccessURL" value="paypal.aspx"/>

    <!--<add key="SuccessURL" value="http://www.mrsoft.co.in/ProceedToPayment.aspx"/>-->

    </appSettings>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
